.custom-dropdown {
    position: relative;
    display: inline-block;
    width: fit-content;
}

.custom-dropdown ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.dropdown-display {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: var(--sub-background-color, #2c3e50);
    color: white;
    padding: 8px 12px;
    border-radius: 8px;
    cursor: pointer;
    user-select: none;
    height: 44px;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.3);

}

.dropdown-main-icon {
    margin-right: 8px;
    font-size: 16px;
}

.dropdown-arrow {
    margin-left: auto;
    font-size: 14px;
}

.dropdown-list {
    position: absolute;
    top: calc(100% + 4px);
    left: 0;
    width: 100%;
    background: var(--sub-background-color, #2c3e50);
    border-radius: 8px;
    overflow: hidden;
    z-index: 10;
}

.dropdown-item {
    padding: 8px 12px;
    display: flex;
    align-items: center;
    color: white;
    cursor: pointer;
}

.dropdown-item:hover {
    background: rgba(255, 255, 255, 0.1);
}

.dropdown-item-icon {
    margin-right: 8px;
    font-size: 16px;
}