.history-page-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    color: white;
    padding: 20px 50px;
    width: 100%;
}

.group-container {
    height: 44px;
}

/* ================ HEADER ======================= */
.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-container .left-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.header-container .left-container .icon {
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--sub-background-color-2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.header-container .left-container .icon i {
    font-size: 2rem;
    color: white;
}

.header-container .left-container .title h3,
.header-container .left-container .title p {
    margin: 0;
}

.header-container .left-container .title p {
    font-size: 0.8rem;
    color: rgba(255, 255, 255, 0.7);
}


/* ================ FILTER ======================= */
input[type="date"]::-webkit-calendar-picker-indicator {
    filter: invert(100%) brightness(200%);
    cursor: pointer;
    margin-left: -20px;

}

input:focus {
    outline: none;
    box-shadow: none;
}


.fillter-container {
    display: flex;
    background-color: var(--sub-background-color-2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    width: 100%;
    /* min-height: 10rem; */
    border-radius: 15px;
    padding: 20px;
    margin-bottom: 20px;
}



.fillter-container .search-container {
    display: flex;
    align-items: center;
    background-color: var(--sub-background-color);
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    padding-left: 15px;
}

.fillter-container .search-container input {
    background-color: transparent;
    border: none;
    color: white;
    flex: 1;
}

.fillter-container .search-container button {
    padding: 10px 15px;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}


/* gender dropdown */
.gender-dropdown-container {
    display: inline-block;
}

.select-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 10px;
    padding: 10px 15px;
    background-color: white;
    background-color: var(--sub-background-color);

}

.select-wrapper i {
    margin-right: 6px;
    font-size: 16px;
    color: white;
}

.select-wrapper select {
    border: none;
    background: transparent;
    font-size: 14px;
    outline: none;
    cursor: pointer;
    color: white;
}


/* TABLE */
.table-section .title h4 {
    margin: 0;
}

.table-section .title i {
    font-size: 1.5rem;
}

.table-container {
    background-color: var(--sub-background-color-2);
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
}

.table-wrapper {
    overflow-x: auto;
    max-width: 100%;
    padding-bottom: 10px;
    background-color: var(--sub-background-color-2);
}

.sort-direction-container button{
    height: 44px;
    background-color: var(--background-color);
    color: white;
    box-shadow:0 0 10px rgba(255, 255, 255, 0.3);
}

/* Thanh cuộn ngang tùy chỉnh */
.table-wrapper::-webkit-scrollbar {
    height: 8px;
}

.table-wrapper::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 4px;
}

.table-wrapper::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.table-wrapper::-webkit-scrollbar-track {
    background: #222;
}

/* Table styling */
.table {
    min-width: max-content;
    --bs-table-bg: transparent;
    --bs-table-color: white;
    --bs-table-hover-color: white;
    --bs-table-hover-bg: rgba(255, 255, 255, 0.1);
    --bs-table-border-color: rgba(255, 255, 255, 0.4);
}

.table tbody td {
    text-align: center;
}

/* Footer phân trang */
.table-footer {
    margin-top: 10px;
    padding: 8px;
    background-color: transparent;
    color: white;
    border-radius: 4px;
}

.table-footer .pagination button {
    background: transparent;
    border: 1px solid #555;
    color: white;
    padding: 4px 8px;
    margin: 0 2px;
    border-radius: 4px;
    cursor: pointer;
}

.table-footer .pagination button.active {
    background: #0d6efd;
    border-color: #0d6efd;
}

.table-footer .pagination button:hover {
    background: #333;
}