.btn-close {
    background-color: white;
}
.modal-dialog {
    max-width: 500px;
}

.modal-content{
    color: white ;
    background-color: var(--background-color);
    min-height: 400px;
}
.modal-body {
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal-header {
    background-color: rgba(255, 255, 255, 0.1);
    border: none;
    border-radius: 15px;
}

.modal-footer {
    border: none;
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.1);

}