:root {
    --primary-color: #14AE8B;
    --hover-color: #109374;
    --background-color: #222328;
    --sub-background-color: #2A2D34; 
    --text-color: white;
    --sub-background-color-2: #3B3842;
}