:root {
  --appbar-color: #5f55e8;
  --card-color: #f8f9fa;
  --background-color: #22203C;
  --text-color: black;
  --font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

body {
  font-family: var(--font-family);
  /* background-color: var(--background-color);
  color: var(--text-color); */
  margin: 0;
  padding: 0;
}

body::-webkit-scrollbar {
  display: none;
}

svg:focus {
  outline: none !important;
}

path:focus {
  outline: none !important;

}