.appName {
    font-style: normal;
    font-weight: 700;
    font-size: 72px;
    line-height: 84px;
    color: #FFFFFF;
}


.brandLeft {
    display: flex;
    align-items: center;
  }

.navBrand {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 0;
}

.navBar {
    background-color: var(--appbar-color);
    display: flex;
    justify-content: center;
}

.settings {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0.25rem;
    font-size: 4rem; /* adjust size if needed */
    color: inherit;
}