   
   /* CSS FOR SIDE BAR */
   /*
   main {
       width: calc(100vw - 240px);
       margin-left: 240px;
       min-height: 100vh;
       background-color: var(--background-color);
   }

   @media (max-width: 1024px) {
       main {
           margin-left: 100px;
           width: calc(100vw - 100px);

           /* màn nhỏ hơn 768px thì không margin sidebar */
       /* } */
   /* } */


   main {
    width: 100vw;
    margin-top: 4rem;
    background-color: var(--background-color);
    min-height: calc(100vh - 5rem);
    display: flex;
   }
   