.sidebar {
  width: 240px;
  height: 100vh;
  background-color: #7163BA; 
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 4px 0 10px rgba(0, 0, 0, 0.3) ;
  position: fixed;
}

.sidebar-header {
  padding: 20px;
}

.sidebar-header img {
  width: 100%;
  height: auto;
}

.sidebar-nav ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-nav li {
  padding: 0px 10px;
}

.sidebar-nav li a {
  display: flex;
  align-items: center;
  padding: 15px 20px;
  color: white;
  text-decoration: none;
  font-weight: 500;
  border-radius: 15px;
}

.sidebar-nav .active {
  background-color: #59527E;
}

.sidebar-nav li a:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.sidebar-nav i {
  margin-right: 10px;
  font-size: 1.2rem;
}

.sidebar-footer {
  padding: 10px 20px;
  font-size: 0.8rem;
  text-align: center;
}


@media screen and (max-width: 992px) {
  .sidebar {
    width: 100px;
  }

  .sidebar-header, .sidebar-footer {
    padding: 10px;
  }
  .sidebar-nav li{
    text-align: center;
  }

  .sidebar-nav li a {
    aspect-ratio: 1/1;
    justify-content: center;
    padding: 10px;
  }
  .sidebar-nav li a i {
    font-size: 1.5rem;
    margin: 0;
  }

   .sidebar-nav li a span {
    display: none; /* Hide text on smaller screens */
   }
    
}
